{% extends "./partials/layout.html" %}
{% block body %}
<h2>Estimator</h2>
<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <td>gyusika</td>
        </tr>
        <tr>
            <th>PW</th>
            <td>gyusika</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>gyusika</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                <div class="form-check">
                    <input class="form-check-input" name="exampleRadios" type="radio" value="Male" checked>
                    <label class="form-check-label">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="exampleRadios" type="radio" value="Female" disabled>
                      Female
                    </label>
                  </div>
            </td>
        </tr>
    </tbody>
</table>

<h2>Estimate status</h2>
</br>
<div class="card">
    this is estimate status
</div>
<div class="card">
    this is estimate status
</div>
<div class="card">
    this is estimate status
</div>

<style>
    .card {
     padding : 5px;
     margin-bottom: 10px;;   
    }

</style>

{% endblock %}