{% extends "./partials/layout.html" %}
{% block body %}
<div style="display: flex; flex-direction: row; align-items: center;">
    <h1>Task</h1>
    <button class="btn btn-info ml-2">제거</button>
    <button class="btn btn-success ml-2">수정</button>
    <button class="btn btn-primary ml-2">다운</button>
</div>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>Name</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>Url</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>Lalal</td>
        </tr>
    </tbody>
</table>
<!-- 수정 부분은 알아서 복사해서 넣기 -->
<h1>대기중인 신청 목록</h1>
<ul class="list-group">
    <li class="list-group-item">
        The Content
        <button class="action btn btn-primary ml-2 float-right">상세</button>
        <button class="action btn btn-info ml-2 float-right">수락</button>
    </li>
    <li class="list-group-item">
        The Content
        <button class="action btn btn-primary ml-2 float-right">상세</button>
        <button class="action btn btn-info ml-2 float-right">수락</button>
    </li>
</ul>
{% endblock %}