# Database Config Files
database/config.py

# Caches
**/__pycache__/
**/*.pyc

# Virtual Machines
.venv/

# Upload Data
data/odsf/*
data/pdsf/*
data/table_data/*

# Editor Files
.vim/
**/*.swp
.vscode/

# Seungsu
**/data/
**/.ipynb_checkpoints/
