<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">Earglass👂🏻</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if is_logged_in() %}
            {% if is_submitter() %}
            
            <li class="nav-item">
                <a class="nav-link" href="/submitter">TaskBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submitter/my_task">MyTask</a>
            </li>

            {% elif is_estimator() %}
            <li class="nav-item">
                <a class="nav-link" href="/estimator">대기목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estimator/pdsf_detail">My 점수</a>
            </li>
<!-- admin nav 추가필요 (규식) -->
            <!-- {% elif is_admin() %}
            <li class="nav-item">
                <a class="nav-link" href="/estimator">Task관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estimator/pdsf_detail">User관리</a>
            </li> -->

            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/users/my">MyPage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/signup">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>