{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<!-- <div include-html="/partials/navbar.html">
</div> -->
<style media="screen">
    .wrap{
      width: 1000px;
      height: 500px;
      overflow-x: scroll;
      white-space:nowrap;
      overflow: auto;
    }
    .wrap img{
        width:300px;
        height:100%;
    }
</style>

<div class="container screen wrap">
    <h3> 평가할 파일(대기목록)</h3>
    <br><br>
    <table class="table table-striped table-bordered" id="target-table">
        <thead>
            <th>Index</th>
            <th>태스크명</th>
            <th>제출자 ID</th>
            <th>Deadline</th>
            <th>파일</th>
            <th>평가점수</th>
            <th>P/NP</th>
            <th></th>
        </thead>
        <tbody>
            {%for task in tasks%}
            <tr>
                <td>
                    {{task.get("id",0)}}
                </td>
                <td>
                    <a href="/estimator/estimator_task_info">{{task.get("name",0)}}</a>
                </td>
                <td>{{task.get("submitter_name",0)}}</td>
                <td>{{task.get("deadline",0)}}</td>
                <form id={{task.get("id",0)}}>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">다운로드</a>
                    </td>
                    <td>
                        <div class="form group">
                            <input type="score" class="form-control" id="score1" aria-describedby="emailHelp" name="score" placeholder="100" required>
                        </div>
                    </td>
                    <td>
                        <div class="form group">
                            <select class="form-control form-control-sm" name="pass" id="name-select">
                                <option value="p">P</option>
                                <option value="np">N</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">평가완료</button>
                    </td>
                </form>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<div class="row align-items-end">
    <a type="button" class="btn btn-primary ml-auto" href="/estimator/pdsf_detail">평가완료 목록으로</a>
</div>
{% endblock %}