{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>태스크 정보</h1>
<br><br>
<table class='table mt-3'>
    <tbody>
        <tr>
            <th>TaskName</th>
            <td>{{tasks["TaskName"]}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{tasks["Description"]}}</td>
        </tr>
        <tr>
            <th>MinPeriod</th>
            <td>{{tasks["MinPeriod"]}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{tasks["Status"]}}</td>
        </tr>
        <tr>
            <th>TaskDataTableName</th>
            <td>{{tasks["TaskDataTableName"]}}</td>
        </tr>
        <tr>
            <th>TaskDataTableSchemaInfo</th>
            <td>{{tasks["TaskDataTableSchemaInfo"]}}</td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}