{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<!-- <div include-html="/partials/navbar.html">
</div> -->
<style media="screen">
    .wrap{
      width: 1000px;
      height: 500px;
      overflow-x: scroll;
      white-space:nowrap;
      overflow: auto;
    }
    .wrap img{
        width:300px;
        height:100%;
    }
</style>

<div class="container screen wrap">
    <h3> 평가할 파일(대기목록)</h3>
    <br><br>
    <table class="table table-striped table-bordered" id="target-table">
        <thead>
            <th>Index</th>
            <th>태스크명</th>
            <th>제출자 ID</th>
            <th>Deadline</th>
            <th>파일</th>
            <th>평가점수</th>
            <th>P/NP</th>
            <th>평가완료</th>
        </thead>
        <tbody>
            {%for task in tasks%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task["TaskName"] }}</td>
                <td>{{ task["SubmitterID"] }}</td>
                <td>{{ task["Deadline"] }}</td>
                <form method="POST" action="/estimator/evaluate?idPARSING_DSF={{ task['idPARSING_DSF']}}">
                    <td>
                        <a class="btn btn-primary" href="/estimator/task/dowmload?idPARSING_DSF={{ task['idPARSING_DSF']}}" role="button">다운로드</a>
                    </td>
                    <td>
                        <div class="form group">
                            <input type="score" class="form-control" id="score1" aria-describedby="emailHelp" name="score" placeholder="100" required>
                        </div>
                    </td>
                    <td>
                        <div class="form group">
                            <select class="form-control form-control-sm" name="p_np" id="name-select">
                                <option value="P">P</option>
                                <option value="NP">N</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">평가완료</button>
                    </td>
                </form>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="row align-items-end">
    <a type="button" class="btn btn-primary ml-auto" href="/estimator/pdsf_detail">평가완료 목록으로</a>
</div>
{% endblock %}