{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>태스크 정보</h1>
<br><br>
<div class="form-group">
    <label class="form-group col-md-2">TaskName</label>
    <input placeholder="{{tasks['TaskName']}}" type="text" class="form-group col-md-2" disabled>
</div>
<div class="form-group">
    <label class="form-group col-md-2">Description</label>
    <textarea style="margin-left:15px" cols="30" rows="10" placeholder="{{tasks['Description']}}" type="text" class="form-control" disabled></textarea>
</div>
<div class="form-group">
    <label class="form-group col-md-2">최소 업로드 주기</label>
    <input placeholder="{{tasks['MinPeriod']}}" type="text" class="form-group col-md-2" disabled>
</div>
<div class="form-group">
    <label class="form-group col-md-2">Status</label>
    <input placeholder="{{tasks['Status']}}" type="text" class="form-group col-md-2" disabled>
</div>
<!-- TODO Sync with admin/task_info -->
<div class="form-group">
    <label class="form-group col-md-2">Task Data Table Name</label>
    <input placeholder="{{tasks['TaskDataTableName']}}" type="text" class="form-group col-md-9" disabled>
</div>
<div class="form-group">
    <label style="vertical-align: middle;" class="form-group col-md-2">Task Data Table Schema Info</label>
    <input placeholder="{{tasks['TaskDataTableSchemaInfo']}}" type="text" class="form-group col-md-9" disabled>
</div>
</div>
{% endblock %}