{% extends "./partials/layout.html" %}
{% block body %}
<h1>Earglass</h1>
<h2>홈페이지</h2>
<form action="/users/login" method="POST">
  <label for="username">
    <input type="text" name="username" placeholder="Id"/>
  </label>
  <br>
  <br>
  <label for="password">
    <input type="password" name="password" placeholder="password"/>
  </label><br><br>
  <label for="submit">
    <input type="submit" value="로그인하기" />
  </label>
</form>
<input type="button" value="회원가입" onClick="location.href='/users/sign_up'">
{% endblock %}