{% extends "./partials/layout.html" %} {% block body %}
<h1>Welcome, {{ user['Name']}} !</h1>
<ul>
  <li><p>id: {{ user['Id'] }}</p></li>
  <li><p>Name: {{ user['Name'] }}</p></li>
  <li><p>password: {{ user['password'] }}</p></li>
  <li><p>realname: {{ user['realname'] }}</p></li>
  <li><p>gender: {{ user['gender'] }}</p></li>
  <li><p>address: {{ user['address'] }}</p></li>
  <li><p>birth: {{ user['birth'] }}</p></li>
  <li><p>phonenumber: {{ user['phonenumber'] }}</p></li>
  <li><p>usertype: {{ user['usertype'] }}</p></li>
<input type="button" value="수정" onClick="location.href='/users/modify_my'">
<input type="button" value="탈퇴" onClick="location.href='/users/modify_my'">
{% endblock %}