{% extends "./partials/layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Navbar</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">MyPage</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
         </li>
      </ul>
   </div>
</nav>
</br>

<h2>SignUp Page</h2>

</br>
<form method="POST" action="/users/signup">
   <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         placeholder="Enter ID" required>
   </div>
   <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
         required>
   </div>
   <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         placeholder="Enter Name" required>
   </div>
   <div class="form-group">
      <label for="exampleInputEmail1">Date of Birth</label>
      <input type="text" name="birth" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         placeholder="Enter DOB" required>
   </div>
   <div class="form-group">
      <label for="exampleInputEmail1">Phone Number</label>
      <input type="text" name="phonenumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         placeholder="Enter Phone Number" required>
   </div>

   <fieldset class="form-group">
      <div class="row">
         <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
         <div class="col-sm-10">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="gender" id="M" value="M" checked>
               <label class="form-check-label" for="M">
                  Male
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="gender" id="W" value="W">
               <label class="form-check-label" for="W">
                  Female
               </label>
            </div>
         </div>
      </div>
   </fieldset>

   <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Address" required>
   </div>

   <fieldset class="form-group">
      <div class="row">
         <legend class="col-form-label col-sm-2 pt-0">Role</legend>
         <div class="col-sm-10">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="role" id="Submitter" value="제출자" checked>
               <label class="form-check-label" for="Submitter">
                  Submitter
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="role" id="Estimator" value="평가자">
               <label class="form-check-label" for="Estimator">
                  Estimator
               </label>
            </div>
         </div>
      </div>
   </fieldset>

   <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}