{% extends "./htmlpartials/layout.html" %} {% block body %}
<h1>Submitter</h1>
<input type="button" value="내 정보" onClick="location.href='/users/login'">
<table class="table table-bordered">
    <thead>
      <tr>
         <th>참여가능테스크 목록</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td>
            <form action="/users/submitter_base" method="POST">
                참여가능테스크1
                <label for="submit">
                  <input type="submit" value="참가"/>
                </label>
                <input type="button" value="상세" onClick="location.href='참여가능테스크1링크'">
            </form>

         </td>
      </tr>
      <tr>
        <td>
            <form action="/users/submitter_base" method="POST">
                참여가능테스크2
                <label for="submit">
                  <input type="submit" value="참가" />
                </label>
                <input type="button" value="상세" onClick="location.href='참여가능테스크2링크'">
              </form>
        </td>
      </tr>
      <tr>
        <td>
            <form action="/users/submitter_base" method="POST">
                참여가능테스크3
                <label for="submit">
                  <input type="submit" value="참가" />
                </label>
                <input type="button" value="상세" onClick="location.href='참여가능테스크3링크'">
            </form>
        </td>
      </tr>
    </tbody> 
</table>
<br><br><br>
<table class="table table-bordered">
    <thead>
      <tr>
         <th>참여중인 테스크 목록</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td>참여중인테스크1
            <input type="button" value="상세" onClick="location.href='참여중인테스크1링크'">
            <input type="button" value="제출" onClick="location.href='제출페이지'">
         </td>
      </tr>
      <tr>
        <td>참여중인테스크1
           <input type="button" value="상세" onClick="location.href='참여중인테스크2링크'">
           <input type="button" value="제출" onClick="location.href='제출페이지'">
        </td>
     </tr>
    </tbody> 
</table>
{% endblock %}
