{% extends "./partials/layout.html" %}
{% block body %}

<!-- form 제출로 묶어서 Task 추가되도록 설정해야함 -->

<h1>ADD Task</h1>
</br>
</br>
<form id="app">
    <!-- TODO add task handling -->
    <div class="form-group">
        <label>TaskName</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>기본 데이터 타입</label>
        <div class="form-row">
            <div class="form-group mr-2">
                <input type="text" class="form-control" placeholder="기본 필드 이름" v-model="defaultFieldBuffer">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" v-on:click="addDefaultField()">추가하기</button>
            </div>
        </div>
        <ul>
            <template v-for="defaultField in defaultFields">
                <li class='mb-2'>
                    <span>[[ defaultField ]]</span>
                    <button type="button" class="btn btn-info" v-on:click="deleteDefaultField(defaultField)" >삭제</button>
                </li>

            </template>
        </ul>
    </div>
    <div class="form-group">
        <label>원본 데이터 타입</label>
        <div class="form-row">
            <div class="form-group mr-2">
                <input type="text" class="form-control" placeholder="원본 데이터 타입 이름" v-model="originDataTypeBuffer">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" v-on:click="addOriginDataType()">추가하기</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="card mb-2" v-for="(dataType, dataTypeName) in originDataTypes">
            <div class="card-body">
                <div class="card-title">
                    <div class="form-row">
                        <h6 class="col">[[ dataTypeName ]]</h6>
                        <!-- delete origin data type -->
                        <button class="btn btn-danger" type="button"
                            v-on:click="deleteOriginDataType(dataTypeName)">x</button>
                    </div>
                </div>
                <div class="card-text">
                    <template v-for="(defaultField, subField) in dataType">
                        <li class="form-row mb-2">
                            <span class="col mr-1">[[ subField ]]</span>
                            <select class="form-control col mr-1" v-on:change="changeDefaultField(dataTypeName, $event.target.value, subField)">
                                <template v-for="originDefaultField in defaultFields">
                                    <option v-if="originDefaultField == defaultField" v-bind:value="originDefaultField"
                                        selected>
                                        [[ originDefaultField ]]
                                    </option>
                                    <option v-if="originDefaultField != defaultField" v-bind:value="originDefaultField">
                                        [[ originDefaultField ]]
                                    </option>
                                </template>
                            </select>
                            <button class="btn btn-danger" type="button" v-on:click="deleteSubField(dataTypeName, subField)">x</button>
                            <!-- delete subField -->
                        </li>
                    </template>
                    <li class="form-row">
                        <input type="text" class="col form-control mr-1" v-model="subFieldBuffer[dataTypeName]">
                        <select class="form-control col mr-1" v-model="subFieldMapBuffer[dataTypeName]">
                            <template v-for="originDefaultField in defaultFields">
                                <option v-bind:value="originDefaultField">
                                    [[ originDefaultField ]]
                                </option>
                            </template>
                        </select>
                        <button class="btn btn-success" type="button" v-on:click="addSubField(dataTypeName)">+</button>
                        <!-- add subField -->
                    </li>
                </div>
            </div>
        </div>
    </div>
    <h5 style="margin-left: 15px; margin-bottom: 10px;"><b>시스템 Pass 기준 설정</b></h5>
    <div class="form-group">
        <label class="form-group col-md-3">최대 중복 Tuple 비율</label>
        <input type="text" class="form-group col-md-2" name="tuple_ratio" placeholder="0">%
    </div>
    <div class="form-group">
        <label class="form-group col-md-3">최대 Column별 Null 비율</label>
        <input type="text" class="form-group col-md-2" name="tuple_ratio" placeholder="0">%
    </div>
    <div class="form-group">
        <label class="form-group col-md-4">
            <h5><b>평가자 정성평가 Pass 기준설명</b></h5>
        </label>
        <textarea style="margin-left: 15px;" cols="30" rows="10" class="form-control" name="pass_criteria_description"
            placeholder="description"></textarea>
    </div>
    </br>
    <button type="submit" class="btn btn-primary float-right mb-4">Task 생성</button>
</form>
<script>
    const app = new Vue({
        el: "form#app",
        data: {
            // form fields
            taskName: '',
            description: '',
            minPeriod: '',
            tableName: '',
            defaultFields: [
                'defaultField1', 'defaultField2'
            ], // li this.
            defaultFieldBuffer: '',
            originDataTypes: {
                // dataTypeName: { subField1: defaultField1, subField2L: defaultField2}
                dataType1: { subField1: 'defaultField1', subField2: 'defaultField2' },
                dataType2: { subField3: 'defaultField1', subField4: 'defaultField2' }
            },
            originDataTypeBuffer: '',
            subFieldBuffer: {
                
            },
            subFieldMapBuffer: {

            }
        },
        methods: {
            getUsedDefaultFields() {
                let usedDefaultFields = [];
                for (let dataTypeName in this.originDataTypes) {
                    usedDefaultFields.push(...Object.values(this.originDataTypes[dataTypeName]))
                }
                let usedDefaultFieldsSet = new Set(usedDefaultFields);
                return usedDefaultFieldsSet
            },
            addDefaultField() {
                if (!this.defaultFieldBuffer) {
                    alert("빈칸을 채워주세요")
                } else if (this.defaultFields.includes(this.defaultFieldBuffer)) {
                    alert("이미 존재하는 기본 필드입니다");
                } else {
                    this.defaultFields.push(this.defaultFieldBuffer);
                    this.defaultFieldBuffer = '';
                }
            },
            addOriginDataType() {
                if (!this.originDataTypeBuffer) {
                    alert("빈칸을 채워주세요")
                } else if (Object.keys(this.originDataTypes).includes(this.originDataTypeBuffer)) {
                    alert("이미 존재하는 원본 데이터 타입입니다");
                } else {
                    this.originDataTypes[this.originDataTypeBuffer] = {};
                    this.originDataTypeBuffer = '';
                }
            },
            addSubField(dataTypeName) {
                const subField = this.subFieldBuffer[dataTypeName];
                const subFields = Object.keys(this.originDataTypes[dataTypeName]);
                const mappedDefaultField = this.subFieldMapBuffer[dataTypeName];
                console.table({subField, subFields})
                if (!subField || !mappedDefaultField) {
                    alert("빈칸을 채워주세요")
                } else if (subFields.includes(subField)) {
                    alert("이미 존재하는 필드입니다")
                } else {
                    console.log(this.subFieldBuffer[dataTypeName], this.subFieldMapBuffer[dataTypeName]);
                    this.originDataTypes[dataTypeName][subField] = mappedDefaultField;
                    this.$forceUpdate();
                    
                    this.subFieldBuffer[dataTypeName] = '';
                    Vue.delete(this.subFieldMapBuffer, dataTypeName);
                }
            },
            changeDefaultField(dataTypeName, defaultField, subField) {
                this.originDataTypes[dataTypeName][subField] = defaultField
            },
            deleteDefaultField(defaultField) {
                // is ever used?
                let usedDefaultFieldsSet = this.getUsedDefaultFields();
                if (usedDefaultFieldsSet.has(defaultField)) {
                    alert("이미 사용 중인 Default Field입니다. 매핑되는 SubField를 제거해주세요")
                } else {
                    Vue.delete(this.defaultFields, defaultField);
                }
            },
            deleteOriginDataType(dataTypeName) {
                Vue.delete(this.originDataTypes, dataTypeName);
            },
            deleteSubField(dataTypeName, subField) {
                Vue.delete(this.originDataTypes[dataTypeName], subField)
            },
            validateSchema() {
                for (let dataTypeName in this.originDataTypes) {
                    const originDataType = this.originDataTypes[dataTypeName]
                    const defaultFields = Object.values(originDataType)
                    for (let defaultField of defaultFields) {
                        if (!defaultFields.includes(defaultField)) {
                            return false;
                        }
                    }
                }
                return true;
            },
            print(something) {
                console.log(something)
            }
        },
        delimiters: ['[[', ']]']
    })
</script>
{% endblock %}