{% block body %}
<p style="text-align: right;">
  <input id="search-task" type="text" placeholder="🔎 태스크 이름으로 검색">
</p>
<table class="table table-striped table-bordered" id="target-table-1">
    <thead>
        <th>Index</th>
        <th>ID</th>
        <th>역할</th>
        <th>성별</th>
        <th>생년월일</th>
        <th>휴대전화</th>
        <th>주소</th>
        <th>참여중인 테스크</th>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
            <td>
              {{ user['idUSER'] }}
            </td>
            <td>
              <!-- 제출자는 admin/submitter.html로, 평가자는 admin/estimator.html로 이동 -->
              <a href="/">{{ user['Name'] }}</a>
            </td>
            <td>
              {{ user['FK_UserTypeName'] }}
            </td>
            <td>
              {{ user['Gender'] }} 
            </td>
            <form>
                <td>
                  {{ user['BirthDate'] }} 
                </td>
                <td>
                  {{ user['PhoneNum'] }} 
                </td>
                <td>
                  {{ user['Address'] }} 
                </td>
                <td class="task">
                  {% for task in user['Tasks'] %}
                    <a href="task_info">{{ task['FK_TaskName'] }}</a>
                  {% endfor %}
                </td>
            </form>
          </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    .wrap{
      width: 1000px;
      min-height: 300px;
      white-space:nowrap;
      overflow: auto;
    }
    #search-users {
        padding: 6px;
        outline: none;
    }
</style>
<script>
console.log("start")
// $('#search-task').on('change', (event) => {
//   const task_query = event.target.value
//   $('tbody tr').each((index, element) => {
//     let tasks = element.get
//     // if (tasks.includes(task_query)) {
//     //   $(element).show()
//     // } else {
//     //   $(element).hide()
//     // }
//   })
// })
$(document).ready(() => {
  $("#search-task").on('change', (event) => {
    const task_query = event.target.value;
    let rows = document.querySelectorAll("table#target-table-1 tbody tr")
    for (let i = 0; i < rows.length; i++) {
      row = rows[i];
      let ps = row.querySelectorAll("p")
      let tasks = []
      for (let j = 0; j < ps.length; j++) {
        tasks.push(ps[j].textContent)
      }
      console.log(tasks)
      if (tasks.includes(task_query) || !task_query) {
        $(row).show()
      } else {
        $(row).hide()
      }
    }
  })
})
</script>
{% endblock %}
