{% block body %}
<table class="table table-striped table-bordered" id="target-table2">
    <thead>
        <th>Index</th>
        <th>ID</th>
        <th>역할</th>
        <th>성별</th>
        <th>나이</th>
        <th>생년월일</th>
        <th>휴대전화</th>
        <th>주소</th>
        <th>참여중인 테스크</th>
        <th>파싱데이터 시퀀스 파일</th>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
            <td>
              {{ user['idUSER'] }}
            </td>
            <td>
              <a href="/">{{ user['Name'] }}</a>
            </td>
            <td>
              {{ user['FK_UserTypeName'] }}
            </td>
            <td>
              {{ user['Gender'] }} 
            </td>
            <form>
                <td>
                  {{ user['BirthDate'] }} 
                </td>
                <td>
                    970428
                </td>
                <td>
                    01045121555
                </td>
                <td>
                    서울시 서대문구
                </td>
                <td>
                    <a href="/">Task2</a>
                </td>
            </form>
          </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    .wrap{
      width: 1000px;
      min-height: 300px;
      white-space:nowrap;
      overflow: auto;
    }
    #search-users {
        padding: 6px;
        outline: none;
    }
</style>
<script>
    $(document).ready(function() {
        $("#target-table2").DataTable();
    })
</script>
{% endblock %}
