{% extends "./partials/layout.html" %}
{% block body %}

<!-- form 제출로 묶어서 Task 추가되도록 설정해야함 -->

<h1 class="d-inline-block">Submitter Info</h1>
</br>
</br>
<form class="">
    <div class="form-group">
        <label class="form-group col-md-2">ID</label>
        <input placeholder="gyusika" type="text" class="form-group col-md-2" disabled value="{{ user['idUSER'] }}">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">UserID</label>
        <input placeholder="gyusika" type="text" class="form-group col-md-2" disabled value="{{ user['Id'] }}">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">역할</label>
        <input placeholder="제출자" type="text" class="form-group col-md-2" disabled value="{{ user['Name'] }}">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">성별</label>
        <input placeholder="M" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">나이</label>
        <input placeholder="25" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">생년월일</label>
        <input placeholder="960316" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">휴대전화</label>
        <input placeholder="01031104029" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">주소</label>
        <input placeholder="서울시 서초구" type="text" class="form-group col-md-2" disabled>
    </div>
    </br>
    <h5><b>참여중인 Task Info</b></h5>
    </br>
    <table style="margin-left: 5px; margin-bottom: 20px;" class="table table-striped table-bordered" id="target-table">
        <thead>
            <th>Index</th>
            <th>데스크명</th>
            <th>제출파일 수</th>
            <th>Pass된 파일 수</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    테스크1
                </td>
                <td>
                    13
                </td>
                <td>
                    5
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    테스크2
                </td>
                <td>
                    12
                </td>
                <td>
                    6
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    테스크3
                </td>
                <td>
                    14
                </td>
                <td>
                    2
                </td>
            </tr>
        </tbody>
    </table>
    </br>
    {{ participation }}
    <!-- 참여현황으로 sort되도록 jquery 적용해야함 -->
</form>
</br>
</br>
</br>
</br>

<style>
    #target-table {
        min-height: 50px;
    }
</style>
<script>
    $(document).ready(function() {
        $("#target-table").DataTable();
    })
</script>
{% endblock %}