{% extends "./partials/layout.html" %}
{% block body %}

<!-- form 제출로 묶어서 Task 추가되도록 설정해야함 -->

<h1 class="d-inline-block">Task Info</h1>
<!-- task 삭제 설정해야 함 -->
<button style="margin-left: 10px; margin-top:20px;" type="submit" class="btn btn-primary float-right mb-4">삭제</button>
<a href="edit_task" style="margin-left: 10px; margin-top:20px;" type="submit" class="btn btn-primary float-right mb-4">수정</a>
</br>
</br>
<form class="">
    <!-- TODO template task info -->
    <div class="form-group">
        <label class="form-group col-md-2">TaskName</label>
        <input placeholder="name" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">Description</label>
        <textarea style="margin-left:15px;"cols="30" rows="10" class="form-control" disabled>Description</textarea>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">최소 업로드 주기</label>
        <input placeholder="2" type="text" class="form-group col-md-2" disabled> week
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">테이블 이름</label>
        <input placeholder="aaaaa" type="text" class="form-group col-md-2" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">스키마</label>
        <input placeholder="aaaaa" type="text" class="form-group col-md-2" disabled>
    </div>
</br>
<h5 style="margin-top: 20px;"><b>원본 데이터 타입</b></h5>
    <table style="margin-left: 5px; margin-bottom: 20px;" class="table table-striped table-bordered" id="target-table">
        <thead>
            <th>원본데이터 타입</th>
            <th>제출파일 수</th>
            <th>Pass된 파일 수</th>
        </thead>
        <tbody>
            {% for data_type in origin_data_types %}
            <tr>
                <td>
                    {{ data_type['DataTypeName']}}
                </td>
                <td>
                    13
                </td>
                <td>
                    5
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </br>
    <!-- 참여현황으로 sort되도록 jquery 적용해야함 -->
    <h5 style="margin-top: 20px;"><b>참여명단</b></h5>
    <table style="margin-left: 5px; margin-bottom: 20px;" class="table table-striped table-bordered" id="target-table2">
        <thead>
            <th>현황</th>
            <th>참여자ID</th>
            <th>평가점수</th>
            <th>승인</th>
            <th>거절</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    대기
                </td>
                <td>
                    gyusika1
                </td>
                <td>
                    95
                </td>
                <td>
                    <button id="task_participation" name="approve" type="submit" class="btn btn-primary">승인</button>
                </td>
                <td>
                    <button id="task_participation" name="reject" type="submit" class="btn btn-primary">거절</button>
                </td>
            </tr>
            <tr>
                <td>
                    승인
                </td>
                <td>
                    gyusika2
                </td>
                <td>
                    96
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    거절
                </td>
                <td>
                    gyusika3
                </td>
                <td>
                    92
                </td>
                <td>    
                </td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</br>
</br>
</br>
</br>
{{task}}<br> <br>
<style>
    #target-table {
        min-height: 50px;
    }
</style>
<script>
    $(document).ready(function() {
        $("#target-table").DataTable();
    })
</script>
<script>
    $(document).ready(function() {
        $("#target-table2").DataTable();
    })
</script>
{% endblock %}