<div class="container">
    <form action="/submitter/submit_task" method="POST" enctype="multipart/form-data">
        <div class="form-group mb-4">
            <h3>태스크 이름</h3>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                value="{{ task_info['TaskName'] }}" name="task_name" readonly>
            <small class="form-text text-muted"></small>
        </div>
        <h3 class="mt-4">형식 다운로드</h3>
        {% for odsf in odsf_type %}
        <div>
            <h4>{{ odsf["DataTypeName"] }}</h4>
            <a class="btn btn-outline-info"
                href="/submitter/task/download?odsf_type_id={{ odsf['idORIGIN_DATA_TYPE'] }}">형식
                다운로드</a>
        </div>
        {% endfor %}
        <div class="form group">
            <h3 class="mt-4">제출 형식</h3>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-10">
                        {% for odsf in odsf_type %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data_type"
                                id="{{ odsf['idORIGIN_DATA_TYPE'] }}" value="{{ odsf['idORIGIN_DATA_TYPE'] }}">
                            <label class="form-check-label" for="{{ odsf['idORIGIN_DATA_TYPE'] }}">
                                {{ odsf["DataTypeName"] }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="file" required>
        </div>
        <div class="form-group mb-4">
            <h3>회차 정보</h3>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="round"
                placeholder="숫자만 입력 가능합니다." required>
            <small class="form-text text-muted"></small>
        </div>
        <!-- <div class="form-group mb-4">
            <h3>기간 정보</h3>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="period"
                placeholder="2020-01-01~2020-06-30" required>
            <small class="form-text text-muted"></small>
        </div> -->
        <div>
            <h3>기간 정보</h3>
            <br>
            <div>
                <div class="form-group"> 
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="01/01/2020" name="start_date"> 
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
            <div>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="01/01/2020" name="end_date"> 
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker"> 
                            <div class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-info mb-4 float-right">제출</button>
        </div>
    </form>
    <style>
        h3 {
            font-weight: bold;
            font-size: 1.4rem;
        }
    </style>
</div>



<script type="text/javascript">
$(function () { $('#datetimepicker1').datetimepicker({ format: 'L'});
    $('#datetimepicker2').datetimepicker({ format: 'L', useCurrent: false });
    $("#datetimepicker1").on("change.datetimepicker", function (e) { $('#datetimepicker2').datetimepicker('minDate', e.date); }); 
    $("#datetimepicker2").on("change.datetimepicker", function (e) { $('#datetimepicker1').datetimepicker('maxDate', e.date); }); }); 
</script>
