<style media="screen">
  .wrap {
    width: 1080;
    height: 600px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: auto;
  }

  .wrap img {
    width: 300px;
    height: 100%;
  }
</style>


<div class="screen wrap">
  <h2>{{task_info["TaskName"]}}</h2>
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Index</th>
        <th>파일의 정보기간</th>
        <th>회차정보</th>
        <th>파일명</th>
        <th>데이터 타입</th>
        <th>제출 날짜</th>
        <th>시스템점수</th>
        <th>실시간 평가점수</th>
        <th>실시간 종합점수</th>
        <th> 실시간 Pass 여부</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for pdsf in my_submit %}
      <tr>
        <td>{{  loop.index }}</td>
        <td>{{  pdsf.get("Period", 0) }}</td>
        <td>{{  pdsf.get("Round", 0) }}</td>
        <td>{{  pdsf.get("ParsingFile", 0) }}</td>
        <td>{{  pdsf.get("DataTypeName", 0) }}</td>
        <td>{{  pdsf.get("DateTime", "None") }}</td>
        <td>{{  pdsf.get("SystemScore", 0) }}</td>
        <td>{{  pdsf.get("AverageScore", 0) }}</td>
        <td>{{  pdsf.get("TotalScore", 0) }}</td>
        <td>{{  pdsf.get("Pass", 'NP') }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              상세보기
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-pdsf" href="#">
                <table>
                  <thead>
                    <th>전체 튜플 수</th>
                    <th>중복 튜플 수</th>
                    <th>column 별 null 비율</th>
                  </thead>
                  <tbody>
                    <td>{{ pdsf.get("전체 튜플 수", 0) }}</td>
                    <td>{{ pdsf.get("중복 튜플 수", 0) }}</td>
                    <td>{{ pdsf.get("column 별 null 비율", 0) }}</td>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>