<h1>태스크 정보</h1>
<table class='table mt-3'>
    <tbody>
        <tr>
            <th>url</th>
            <td><a href="#">{{task_info.get("TaskName", "None")}}</a></td>
        </tr>
        <tr>
            <th>description</th>
            <td>{{task_info.get("Description", "None")}}</td>
        </tr>
        <tr>
            <th>최소업로드주기</th>
            <td>{{task_info.get("MinPeriod", "None")}}</td>
        </tr>
        <tr>
            <th>원본데이터</th>
            <td>
            {% for type in odsf_type%}
            {{type["DataTypeName"]}}
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>최대 중복 튜플비율</th>
            <td>{{task_info.get("MaxDuplicatedRowRatio", "None")}}</td>
        </tr>
        <tr>
            <th>최대 column별 null 비율</th>
            <td>{{task_info.get("MaxNullRatioPerColumn", "None")}}</td>
        </tr>
        <tr>
            <th>평가자 채점 기준</th>
            <td>{{task_info.get("PassCriteria", "None")}}</td>
        </tr>
    </tbody>
</table>
</div>