<div class="container">
    <form action="/submitter/submit_task" method="POST" enctype="multipart/form-data">
        <div class="form-group mb-4">
            <h3>태스크 이름</h3>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                value={{ task_info["TaskName"] }} disabled>
            <small class="form-text text-muted"></small>
        </div>
        <h3 class="mt-4">형식 다운로드</h3>
        {% for odsf in odsf_type %}
        <h4>{{ odsf["DataTypeName"] }}</h4>
        <a class="btn btn-outline-info" href="#">형식 다운로드</a>
        {% endfor %}
        <div class="form group">
            <h3 class="mt-4">제출 파일 업로드</h3>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-10">
                        {% for odsf in odsf_type %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data_type"
                                id={{ odsf["idORIGIN_DATA_TYPE"] }} value={{ odsf["idORIGIN_DATA_TYPE"] }} checked>
                            <label class="form-check-label" for={{ odsf["idORIGIN_DATA_TYPE"] }}>
                                {{ odsf["DataTypeName"] }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="file">
        </div>
        <div>
            <button type="submit" class="btn btn-info mb-4 float-right">제출</button>
        </div>
    </form>
    <style>
        h3 {
            font-weight: bold;
            font-size: 1.4rem;
        }
    </style>
</div>