<div class="container">
    <h2>{{task_info["TaskName"]}}</h2>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>제출자 ID</th>
                <th>원본데이터 타입</th>
                <th>종합점수</th>
                <th>Pass 여부</th>
            </tr>
        </thead>
        <tbody>
            {% for psdf in leaderboard %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ psdf["SubmitterID"] }}</td>
                <td>{{ psdf["DataTypeName"] }}</td>
                <td>{{ psdf["TotalScore"] }}</td>
                <td>{{ psdf["Pass"] }}</td>
            </tr>
            {% endfor %}
            <!-- <tr>
                <td>
                    1
                </td>
                <td>
                    hllee1021
                </td>
                <td>
                    삼성카드로그
                </td>
                <td>
                    36
                </td>
                <td>
                    NP
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    qwe123
                </td>
                <td>
                    csv
                </td>
                <td>
                    50
                </td>
                <td>
                    P
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    hllee1021
                </td>
                <td>
                    csv
                </td>
                <td>
                    100
                </td>
                <td>
                    P
                </td>
            </tr> -->
        </tbody>
    </table>
</div>