{% extends "./partials/layout.html" %}
{% block body %}

<!-- form 제출로 묶어서 Task 추가되도록 설정해야함 -->
<h1 class="d-inline-block">Submitter Info</h1>
<br><br><br><br><br>
<form method="POST" action="/users/edit">
    <!-- TODO template submitter detail -->
    <div class="form-group">
        <label class="form-group col-md-2">Id</label>
        <input value="{{ user['Id'] }}" type="text" class="form-group col-md-2" required name="id" readonly>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">비밀번호</label>
        <input value="{{ user['Password'] }}" type="text" class="form-group col-md-2" required name="password">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">이름</label>
        <input value="{{ user['Name'] }}" type="text" class="form-group col-md-2" required name="name">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">생년월일</label>
        <input value="{{ user['BirthDate'] }}" type="text" class="form-group col-md-2" required name="birth">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">휴대전화</label>
        <input value="{{ user['PhoneNum'] }}" type="text" class="form-group col-md-2" required name="phonenumber">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">주소</label>
        <input value="{{ user['Address'] }}" type="text" class="form-group col-md-2" required name="address">
    </div>
    <!-- <div class="form group">
        <label class="form-group col-md-2">성별</label>
        <select class="form-group col-md-2" name="gender" id="name-select">
            <option value="P">M</option>
            <option value="NP">W</option>
        </select>
    </div> -->
    <div class="form-group">
        <label class="form-group col-md-2">성별</label>
        <input value="{{ user['Gender'] }}" type="text" class="form-group col-md-2" disabled>
    </div>
    <button type="submit" class="btn btn-primary">수정완료</button>
</form>

<!-- <a type="button" class="btn btn-primary mr-2" href='/users'>수정완료</a> -->
    {% endblock %}