{% extends "./partials/layout.html" %}
{% block body %}
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <h1>참여 태스크 목록</h1>
            <tr>
                <th>Index</th>
                <th>태스크명</th>
                <th>deadline</th>
                <th>내 제출수</th>
                <th>내 pass수</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    {{ task[0] }}
                </td>
                <td>
                    {{ task[1]["TaskName"] }}
                </td>
                <td>
                    {{ task[1]["Deadline"] }}
                </td>
                <td>
                    {{ task[1]["Submit_num"] }}
                </td>
                <td>
                    {{ task[1]["Pass_num"] }}
                </td>
                <td>
                    <a class="btn btn-primary" href="/task/detail?tab=info&task_id={{ task[1]['TaskName'] }}">상세보기</a>
                    {% if task[1]["Status"] == "ongoing" %}
                    <a class="btn btn-primary" href="/task/detail?tab=submit&task_id={{ task[1]['TaskName'] }}">제출</a>
                    {% else %}
                    <button type="button" class="btn btn-primary mr-2 " disabled>승인대기중</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function page_move(url, some_data, task_id) {
        var form = document.createElement("form");
        var parm = new Array();
        var input = new Array();

        form.action = url;
        form.method = "post";

        parm.push(['opt', some_data]);
        parm.push(['task_id', task_id]);


        for (var i = 0; i < parm.length; i++) {
            input[i] = document.createElement("input");
            input[i].setAttribute("type", "hidden");
            input[i].setAttribute('name', parm[i][0]);
            input[i].setAttribute("value", parm[i][1]);
            form.appendChild(input[i]);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>

{% endblock %}