{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<!-- <div include-html="/partials/navbar.html">
</div> -->

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <h1>진행중인 태스크</h1>
            <p style="text-align: right;">
                <input id="search-task" type="text" placeholder="🔎 여러기준으로 해야함">
            </p>
            <tr>
                <th style="width:10%">Index</th>
                <th style="width:15%">태스크명</th>
                <th style="width:15%">deadline</th>
                <th style="width:15%"></th>
            </tr>
        </thead>
        <tbody>

            {% for item in test %}

            <tr>
                <td>{{ item["id"] }}</td>
                <td>{{ item["name"] }}</td>
                <td>{{ item["deadline"] }}</td>
                <td class="text-center">
                    <a type="button" class="btn btn-primary mr-2"
                        href='/submitter/agreement?id={{ item["id"] }}'>참여신청</a>
                    <a type="button" class="btn btn-primary mr-2" href='/task/detail?id={{ item["id"] }}'>상세</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}